<div class="assignmenttwo" >
    <h3>Assignment 2</h3>
    <div class="assignmenttwo__tabs">
        <ul class="nav nav-tabs float-right" >
            <li class="nav-item" (click)="switchModes('grid')">
                <a class="nav-link" [ngClass]="{'active': mode === 'grid'}" >Grid View</a>
            </li>
            <li class="nav-item"  (click)="switchModes('list')">
                <a class="nav-link" [ngClass]="{'active': mode === 'link'}" >List View</a>
            </li>
            <li class="nav-item" >
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Price {{modeSelected}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="filterPrice('desc','High to Low')">High to Low</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="filterPrice('asc', 'Low to High')">Low to High</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="product d-flex flex-row bd-highlight " [ngClass]="{'product__grid': mode === 'grid','product__list': mode === 'list'}">
        <div class="product__item p-2" *ngFor="let product of products | filter:'price':sortType">
            <span class="product__name">
                {{product.name}}
            </span>
            <span class="product__price">
                ${{product.price}}
            </span>
        </div>
    </div>
</div>