<div class="timer-status">
        <h3>Assignment 4</h3>
    <div class="timer-status__inner">
        <div class="timer-status__value">
                <app-timer-new></app-timer-new>
        </div>
        <div class="timer-status__setup">
            <app-timer-setup-new ></app-timer-setup-new>
        </div>
        <div class="timer-status__info">
            <app-timer-log-new ></app-timer-log-new>
        </div>
        <div class="timer-status__analysis">
            <app-timer-analysis-new ></app-timer-analysis-new>
        </div>
    </div>
</div> 