<ul class="nav nav-pills card-header-pills routing-nav" *ngIf="routers.url.includes('assignment')">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="'assignmentOne'" >Assignment 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"   routerLinkActive="active" [routerLink]="'assignmentTwo'">Assignment 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active" [routerLink]="'assignmentThree'" >Assignment 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active" [routerLink]="'assignmentFour'" >Assignment 4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active" [routerLink]="'assignmentFive'" >Assignment 5</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active" [routerLink]="'assignmentSix'" >Assignment 6</a>
    </li>
  </ul>
<div class="assignment mx-auto" [ngClass]="{'d-none': routers.url.includes('assignment')}">
    <h2 class="assignment__heading">Assignments</h2>
    <a class="btn btn-primary" routerLink="assignmentOne">Start Analyzing</a>

    <div class="float-right assignment__info">
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary">Aayshi Mehrotra</li>
            <li class="list-group-item list-group-item-success"> 105814</li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>

