.assignmentOne {
    .div-loop {
        margin: 20px 0;
        div {
            border: 2px solid black;
            margin: 0 auto;
        }
    }
    h3{
        text-align: center;
        margin: 20px 0;
    }
}