<div class="assignmentOne">
    <h3>Assignment 1</h3>
    <div class="div-loop" appDivLoop styleWidth=400 counts="8" verticalMargin="10" horizontalMargin="15" styleHeight="200" text="Floating text 1">
    </div>

    <div class="div-loop" appDivLoop styleWidth=800 counts="6" verticalMargin="15" horizontalMargin="20" styleHeight="200"  text="Floating text 2">
    </div>
    
    <div class="div-loop" appDivLoop styleWidth=800 counts="2" verticalMargin="15" horizontalMargin="20" styleHeight="200"  text="Floating text 2">
        </div>
</div>
