.load-more {
    width: 1000px;
    margin: 0 auto;
    
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__items{
        border: 2px solid #000;
        margin: 10px;
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h3{
        text-align: center;
        margin: 20px 0;
    }
}
